.overlay {

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
  }


.task-modal {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    max-height: 95vh;
    width: 400px;
    padding: 2rem 2rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.12);
    
}

.task-name input{
    
    padding-left: 10px;
    height: 40px;
    width: 220px;

}

.task-status select {
    padding-left: 10px;
    height: 40px;
    width: 220px;
}

.task-modal-button {

    display: flex;
    justify-content: space-between;
    width: 200px;
}

#task-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {

    background-color: rgba(113, 113, 192);
    color: white;
    padding: 0.7rem 0.7rem;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.cancel-button {

    padding: 0.7rem 0.7rem;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  
}

@media screen and (max-width: 472px) {
    
    .task-modal {
        width: 290px;
       
    }
   
}

@media screen and (max-width: 320px) {
    
    .task-modal {
        width: 270px;
    }

    .task-name input{
    
       
        width: 200px;
    
    }

    .task-status select {
        width: 200px;
    }
   
}

@media screen and (min-height: 1180px) {
    
    .task-modal {
       
        margin-bottom: 300px;
    }
   
}

@media screen and (min-height: 1300px) {
    
    .task-modal {
       
        margin-bottom: 400px;
    }
   
}