.bucket-card {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.3rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
    
}


.bucket {
    width: 85%;
    word-wrap: break-word;
    font-size: 1.3rem;
}



.bucket-actions {
    width: 10%;
}

